<md-dialog aria-label="Mango (Fruit)"  ng-cloak>
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>In Kalender</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="vm.cancel()">
          <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="ok()">
       ja
      </md-button>
      <md-button ng-click="close()" style="margin-right:20px;">
        Nein
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
