<section class="mainheader">
  <div class="container">
    <div class="row">
      <div class="logo inside col-md-12">
        <a ui-sref="home"><img src="assets/images/logo-muller-small.png" alt="" class="img-responsive"></a>
      </div>
    </div>
  </div>
</section>
<section class="nav">
  <div class="container">
    <div class="row">
      <div class="menu col-md-12">
        <ul>
          <li class="col-md-4" style="cursor:pointer"><a onClick="window.history.go(-1); return false;"><i class="fa fa-angle-left"></i> Zurück</a></li>
          <li class="col-md-4 title" ng-if="vm.state=='gartenunterhalt'"><strong>Gartenunterhalt</strong></li>
          <li class="col-md-4 title" ng-if="vm.state=='gartenumaenderung'"><strong>Gartenumänderung</strong></li>
          <li class="col-md-4" style="cursor:pointer"><a ng-click="vm.goDone()">Erledigte</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section class="form">
  <div class="container">
    <div class="row" ng-if="vm.loading" >
      <div class="col-md-12" style="text-align:center;">
        <i class="fa fa-circle-o-notch fa-spin fa-3x">
        </i>
      </div>
    </div>
    <div class="row">
      <!-- <input type="checkbox" ng-model="selection"     radio-beautify id="maintenance" value="test"> -->
      <!-- <div class="post-title col-md-12"><h3>Gartenunterhalt</h3></div>				 -->
      <form class="form-gardenmaintenance">
        <div class="form-group" ng-repeat="list in vm.lists | unique: 'id'" ng-if="list.status=='0'">
          <div class="post-icons col-md-1 col-sm-1 col-xs-2">
            <input type="checkbox" ng-model="selection" name="checkbox"    radio-beautify="list" data="vm.lists" id="maintenance" value="{{list}}">
          </div>
          <div class="col-md-10 col-sm-10 col-xs-8">
            <textarea name="maintenancedetails" disabled id="maintenancedetails" class="form-control" disabled="disabled">{{list.firstname + ' ' + list.lastname + ',' + list.address}}</textarea>
          </div>
          <div class="post-icons col-md-1 col-sm-1 col-xs-2">
            <img src="assets/images/icon-edit.png" alt="" class="img-responsive" ng-click="vm.editor(list.id)">
          </div>
        </div>
        <!-- <div class="form-group">
          <div class="post-icons col-md-1">
            <input type="radio" name="maintenance" id="" value="" >
          </div>
          <div class="col-md-10">
            <textarea name="maintenancedetails" id="" class="form-control"></textarea>
          </div>
          <div class="post-icons col-md-1">
            <img src="assets/images/icon-edit.png" alt="" class="img-responsive">
          </div>
        </div>
        <div class="form-group">
          <div class="post-icons col-md-1">
            <input type="radio" name="maintenance" id="" value="" >
          </div>
          <div class="col-md-10">
            <textarea name="maintenancedetails" id="" class="form-control"></textarea>
          </div>
          <div class="post-icons col-md-1">
            <img src="assets/images/icon-edit.png" alt="" class="img-responsive">
          </div>
        </div>
        <div class="form-group">
          <div class="post-icons col-md-1">
            <input type="radio" name="maintenance" id="" value="" >
          </div>
          <div class="col-md-10">
            <textarea name="maintenancedetails" id="" class="form-control"></textarea>
          </div>
          <div class="post-icons col-md-1">
            <img src="assets/images/icon-edit.png" alt="" class="img-responsive">
          </div>
        </div>
        <div class="form-group">
          <div class="post-icons col-md-1">
            <input type="radio" name="maintenance" id="" value="" >
          </div>
          <div class="col-md-10">
            <textarea name="maintenancedetails" id="" class="form-control"></textarea>
          </div>
          <div class="post-icons col-md-1">
            <img src="assets/images/icon-edit.png" alt="" class="img-responsive">
          </div>
        </div> -->
        <!-- <div class="form-group"> -->
          <!-- <div class="post-icons col-md-1">
            <input type="radio" name="maintenance" id="" value="" >
          </div>
          <div class="col-md-10">
            <textarea name="maintenancedetails" id="" class="form-control"></textarea>
          </div>
          <div class="post-icons col-md-1">
            <img src="assets/images/icon-edit.png" alt="" class="img-responsive">
          </div>
        </div> -->
        <div class="btn-holder form-group" ng-if="!vm.loading" style="  position: fixed;
            bottom: 0px;
            width: 100%;
            left: 0px;
            background: rgb(255, 255, 255) none repeat scroll 0% 0%;
            margin-bottom: 0px;
            padding-top: 10px;">
          <a ng-click="vm.addGarden()"><i class="fa fa-plus-circle fa-3x"></i></a>
        </div>

      </form>

    </div>
    <div class="row" ng-if="vm.Infiniteloading">
      <div layout="row" layout-sm="column" layout-align="space-around">
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
      </div>
    </div>
  </div>
</div>
</section>
<style >
  .toastClass{
    background-color: green;
  }
  .md-progress-circular{
    margin: 0 auto;
  }
</style>
