<section class="mainheader">
  <div class="container">
    <div class="row">
      <div class="logo inside col-md-12">
        <a href="/"><img src="assets/images/logo-muller-small.png" alt="" class="img-responsive"></a>
      </div>
    </div>
  </div>
</section>
<section class="nav">
  <div class="container">
    <div class="row">
      <div class="menu col-md-12">
        <ul>
          <li class="col-md-4"><a href="index.html"><i class="fa fa-angle-left"></i> Zurück</a></li>
          <li class="col-md-4 title"><strong>Gartenunterhalt</strong></li>
          <li class="col-md-4"><a href="erledigte.html">Erledigte</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section class="form">
  <div class="container">
    <div class="row" ng-if="vm.loading">
      <div layout="row" layout-sm="column" layout-align="space-around">
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
      </div>
    </div>
    <div class="row">
      <!-- <div class="post-title col-md-12"><h3>Gartenunterhalt</h3></div>				 -->
      <form class="form-gardenmaintenance">
        <div class="form-group" ng-repeat="list in vm.lists track by $index">
          <div class="post-icons col-md-1">
            <input type="radio" name="maintenance"  radio-beautify="vm.selection" id="maintenance" value="{{list.id}}"   ng-model="vm.selection">
          </div>
          <div class="col-md-10">
            <textarea name="maintenancedetails" id="maintenancedetails" class="form-control" disabled="disabled">{{list.firstname + ' ' + list.lastname + ',' + list.address}}</textarea>
          </div>
          <div class="post-icons col-md-1">
            <img src="assets/images/icon-edit.png" alt="" class="img-responsive" ng-click="vm.editor(list.id)">
          </div>
        </div>
        <!-- <div class="form-group">
          <div class="post-icons col-md-1">
            <input type="radio" name="maintenance" id="" value="" >
          </div>
          <div class="col-md-10">
            <textarea name="maintenancedetails" id="" class="form-control"></textarea>
          </div>
          <div class="post-icons col-md-1">
            <img src="assets/images/icon-edit.png" alt="" class="img-responsive">
          </div>
        </div>
        <div class="form-group">
          <div class="post-icons col-md-1">
            <input type="radio" name="maintenance" id="" value="" >
          </div>
          <div class="col-md-10">
            <textarea name="maintenancedetails" id="" class="form-control"></textarea>
          </div>
          <div class="post-icons col-md-1">
            <img src="assets/images/icon-edit.png" alt="" class="img-responsive">
          </div>
        </div>
        <div class="form-group">
          <div class="post-icons col-md-1">
            <input type="radio" name="maintenance" id="" value="" >
          </div>
          <div class="col-md-10">
            <textarea name="maintenancedetails" id="" class="form-control"></textarea>
          </div>
          <div class="post-icons col-md-1">
            <img src="assets/images/icon-edit.png" alt="" class="img-responsive">
          </div>
        </div>
        <div class="form-group">
          <div class="post-icons col-md-1">
            <input type="radio" name="maintenance" id="" value="" >
          </div>
          <div class="col-md-10">
            <textarea name="maintenancedetails" id="" class="form-control"></textarea>
          </div>
          <div class="post-icons col-md-1">
            <img src="assets/images/icon-edit.png" alt="" class="img-responsive">
          </div>
        </div> -->
        <!-- <div class="form-group"> -->
          <!-- <div class="post-icons col-md-1">
            <input type="radio" name="maintenance" id="" value="" >
          </div>
          <div class="col-md-10">
            <textarea name="maintenancedetails" id="" class="form-control"></textarea>
          </div>
          <div class="post-icons col-md-1">
            <img src="assets/images/icon-edit.png" alt="" class="img-responsive">
          </div>
        </div> -->
        <div class="btn-holder form-group">
          <a href="new-project.html"><i class="fa fa-plus-circle fa-3x"></i></a>
        </div>

      </form>

    </div>
  </div>
</div>
</section>
