
	<section class="splashscreen">
		<div class="container">
			<div class="row">
				<div class="logo col-md-12">
					<img src="assets/images/logo-muller.png" alt="" class="img-responsive">
				</div>
			</div>
			<div class="row">
				<div class="home-button col-md-12">
					<ul class="row">
						<li class="col-md-4" style="cursor:pointer"><a class="btn btn-home" ng-click="main.trigger('gartenunterhalt')">Gartenunterhalt</a></li>
						<li class="col-md-4" style="cursor:pointer"><a class="btn btn-home" ng-click="main.trigger('gartenumaenderung')">Gartenumänderung</a></li>
						<li class="col-md-4" style="cursor:pointer"><a class="btn btn-home" ng-click="main.goToReminder()">Erinnerung</a></li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
	<script>
		$(document).ready(function() {
			function setHeight() {
				windowHeight = $(window).innerHeight();
				$('.splashscreen').css('min-height', windowHeight);
			};
			setHeight();

			$(window).resize(function() {
				setHeight();
			});
		});
	</script>
