@import url(//fonts.googleapis.com/css?family=Roboto+Slab:400,700|Roboto:400,700,700italic,400italic);

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../../bower_components/material-design-iconfont/iconfont/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(../../bower_components/material-design-iconfont/iconfont/MaterialIcons-Regular.woff2) format('woff2'),
       url(../../bower_components/material-design-iconfont/iconfont/MaterialIcons-Regular.woff) format('woff'),
       url(../../bower_components/material-design-iconfont/iconfont/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

html {
  font-family: 'Roboto Slab', serif;
}

[layout=row] {
  flex-direction: row;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

md-toolbar.md-default-theme {
  background-color: black;
}

section.jumbotron {
  margin-bottom: 30px;
  padding: 1px 30px;
  background-color: #5aadbb;
  text-align: center;

  color: white;
}

section.jumbotron h1 {
  font-size: 3em;
}

.techs {
  display: flex;
  flex-flow: row wrap;
}

.techs md-card {
  width: 30%;
}

.techs md-card img.pull-right {
  float: right;
  width: 100px;
}
html{font-size:100%;height:100%;position:relative}body{font-size:100%;font-size:16px;font-size:1rem;line-height:26px;height:100%;font-family:"Lato",sans-serif;font-weight:400}body.inside{background:#f9f9f9}p{font-size:16px;font-size:1rem;line-height:20px}h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6{font-weight:700}a{color:#619e1f}a:hover,a:focus{color:#619e1f}.menu ul{margin:0;padding:0}.menu ul li{list-style:none;text-align:center;line-height:30px;vertical-align:middle;color:#fff;font-size:18px;font-size:1.125rem}.menu ul li.title{font-size:24px;font-size:1.5rem;line-height:1}.menu ul li a{color:#fff;text-decoration:none}.container{max-width:768px}.logo{padding-top:25px;text-align:center;margin-bottom:25px}.logo img{display:inline-block}.logo.inside{padding-top:0}.home-button{padding-top:10%;padding-bottom:20%}.home-button ul{margin:0;padding:0;text-align:center}.home-button ul li{margin-bottom:20px;list-style:none}.header-nav ul{margin:0;padding:0}.header-nav ul li{list-style:none}.header-nav ul li a{color:#fff;font-size:17px;font-size:1.0625rem;font-weight:500}.header-nav ul li .fa{font-size:20px;font-size:1.25rem}section.nav{background:#619e1f;padding-top:10px;padding-bottom:10px}section.splashscreen{background:url(../assets/images/background-grass.jpg) repeat-x;background-position:center bottom}section.mainheader{background:#f0f0f0;border-bottom:1px solid #e3e3e3;padding-top:10px}section.form{padding-top:30px}section.form.white-bg{background:#fff}section.search{padding-top:10px;padding-bottom:10px}.post-title h3{text-align:center;font-size:24px;font-size:1.5rem;font-weight:700;color:#383838;margin-bottom:25px}.post-upload{border:2px dashed #ccc;-webkit-border-radius:7;border-radius:7;background-clip:padding-box;padding:15px;background:#eeefef;text-align:center;font-size:18px;font-size:1.125rem;min-height:140px;padding-top:40px}.post-upload span,.post-upload .fa{display:inline-block;width:100%}.btn-home{color:#fff;font-size:18px;font-size:1.125rem;-webkit-border-radius:10;border-radius:10;background-clip:padding-box;vertical-align:middle;font-weight:700;width:100%;padding:15px 0;-moz-box-shadow:inset 0px 1px 0px 0px #a4e271;-webkit-box-shadow:inset 0px 1px 0px 0px #a4e271;box-shadow:inset 0px 1px 0px 0px #a4e271;background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #89c403), color-stop(1, #77a809));background:-moz-linear-gradient(top, #89c403 5%, #77a809 100%);background:-webkit-linear-gradient(top, #89c403 5%, #77a809 100%);background:-o-linear-gradient(top, #89c403 5%, #77a809 100%);background:-ms-linear-gradient(top, #89c403 5%, #77a809 100%);background:linear-gradient(to bottom, #89c403 5%, #77a809 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#89c403', endColorstr='#77a809',GradientType=0);background-color:#89c403;text-decoration:none}.btn-home:hover,.btn-home:focus,.btn-home:visited{color:#fff}.btn-green{color:#fff;font-size:18px;font-size:1.125rem;-webkit-border-radius:10;border-radius:10;background-clip:padding-box;vertical-align:middle;font-weight:700;padding:8px 30px;-moz-box-shadow:inset 0px 1px 0px 0px #a4e271;-webkit-box-shadow:inset 0px 1px 0px 0px #a4e271;box-shadow:inset 0px 1px 0px 0px #a4e271;background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #89c403), color-stop(1, #77a809));background:-moz-linear-gradient(top, #89c403 5%, #77a809 100%);background:-webkit-linear-gradient(top, #89c403 5%, #77a809 100%);background:-o-linear-gradient(top, #89c403 5%, #77a809 100%);background:-ms-linear-gradient(top, #89c403 5%, #77a809 100%);background:linear-gradient(to bottom, #89c403 5%, #77a809 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#89c403', endColorstr='#77a809',GradientType=0);background-color:#89c403;text-decoration:none}.btn-green:hover,.btn-green:focus,.btn-green:visited{color:#fff}.btn-holder{text-align:center}.btn-modal{color:#619e1f;background:transparent}.btn-modal:hover,.btn-modal:active,.btn-modal:visited{color:#54891b;background:transparent}.btn-cancel{background:none;border:none;display:inline-block;border-right:1px solid #f7f7f7;width:49%}.btn-save{background:none;border:none;display:inline-block;width:49%}.form-newproject{margin-bottom:20px;float:left;width:100%}.form-newproject .form-group{margin-bottom:15px;float:left;width:100%}.form-newproject .form-group label{font-size:14px;font-size:0.875rem}.form-newproject .form-group label img{max-width:18px;margin-left:10px}.form-newproject .form-group .checkbox label span{line-height:18px;float:right}.form-gardenmaintenance{padding-bottom:30px;float:left;width:100%}.form-gardenmaintenance .form-group{width:100%;float:left}.form-gardenmaintenance textarea{resize:none;height:90px;font-size:18px;font-size:1.125rem}.form-gardenmaintenance .post-icons{padding-top:29px}.form-gardenmaintenance .post-icons:hover{cursor:pointer}.form-gardenmaintenance .fa{color:#619e1f}.form-search{float:left}.form-search .form-group{width:100%;float:left;position:relative}.form-search .form-group input[type="text"]{width:100%;padding-left:40px}.form-search .form-group .btn{position:absolute;left:0;border:none;background:transparent}.form-erinnerung .form-group{width:100%;float:left}.modal-title{text-align:center}.modal-footer{text-align:center}
