<div top></div>
	<section class="nav">
		<div class="container">
			<div class="row">
				<div class="menu col-md-12">
					<ul>
						<li class="col-md-4"><a href="gartenunterhalt.html"><i class="fa fa-angle-left"></i> Zurück</a></li>
						<li class="col-md-4 title"><strong>Neues Projekt</strong></li>
						<li class="col-md-4"><a href="#">Speichern</a></li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<section class="form">
		<div class="container">
			<div class="row">
				<form class="form-newproject">
					<div class="form-group">
						<div class="col-md-4">
							<label for="">Name</label>
							<input type="text" class="form-control" ng-model="edit.profile.lastname" placeholder="Name">
						</div>
						<div class="col-md-4">
							<label for="">Vorname</label>
							<input type="text" class="form-control" id="" ng-model="edit.profile.firstname" placeholder="Vorname">
						</div>
						<div class="col-md-4">
							<label for="">Adresse</label>
							<input type="text" class="form-control" id="" ng-model="edit.profile.address" placeholder="Adresse">
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-4">
							<label for="">Postleitzahl</label>
							<input type="text" ng-model="edit.profile.postal_code" class="form-control" id="" placeholder="Postleitzahl">
						</div>
						<div class="col-md-4">
							<label for="">Ort</label>
							<input type="text" class="form-control" ng-model="edit.profile.place" id="" placeholder="Ort">
						</div>
						<div class="col-md-4">
							<label for="">Telefon <img src="assets/images/icon-phone.png"></label>
							<input type="text" class="form-control" id="" ng-model="edit.profile.phone" placeholder="Telefon">
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-4">
							<label for="">Email</label>
							<input type="text" class="form-control" id="" ng-model="edit.profile.mail" placeholder="Email">
						</div>
						<div class="col-md-4">
							<label for="">Ausführungs-zeitpunkt <img src="assets/images/icon-calendar.png"></label>
							<input type="date" class="form-control" id="" ng-model="edit.profile.time_to_finish" >
						</div>
						<div class="col-md-4">
							<label for="">Arbeitsaufwand</label>
							<select class="form-control" name="" ng-options="user.name as user.name for user in edit.users" ng-model="edit.profile.worker">

							</select>
							<!-- <input type="text" ng-model="edit.profile.worker" class="form-control" id="" placeholder="Arbeitsaufwand"> -->
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-4">
							<label for="">Zuständigkeit</label>
							<input type="text" class="form-control" id="" placeholder="Zuständigkeit">
						</div>
						<div class="col-md-4">
							<label for="">Terminserie</label>
							{{edit.profile.repeat}}
							<select class="form-control" name="" ng ng-options="rep.name as rep.name for rep in edit.type" ng-model="edit.profile.repeat">
							</select>
							<!-- <input type="text" class="form-control" id="" placeholder="Terminserie"> -->
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-6">
							<label for="">&nbsp;</label>
							<textarea name="" id="" ng-model="edit.profile.notice" cols="30" rows="10" class="form-control" placeholder="Weitere Informationen"></textarea>
						</div>
						<div class="col-md-6">
							<label for="">&nbsp;</label>
							<div map-lazy-load="https://maps.google.com/maps/api/js">
							  <ng-map center="{{edit.profile.address}}" zoom="13" >

								</ng-map>
							</div>


						</div>
					</div>
					<div class="form-group">
						<div class="col-md-4">
							<div class="" style="position:relative;display:inline-block">
								<img ngf-thumbnail="vm.file || 'http://www.instagramprivate.gamersden.org/img/icon-user-default.png'">
								<div class="close" style="position:absolute;right:0px;top:0px;z-index:10;cursor:pointer" ng-click="$file=null;vm.file='http://www.instagramprivate.gamersden.org/img/icon-user-default.png'">
									X
								</div>
							</div>
							<!-- <label for="">Choose Upload Type:</label>
							  {{edit.fileType}}
							<div class="checkbox"><label><input type="checkbox" name="image" ng-model="edit.fileType" ng-value="image"><span>Fotos</span></label></div>
							<div class="checkbox"><label><input type="checkbox" name="video" ng-model="edit.fileType" ng-value="video"><span>Dateien</span></label></div>
							<div class="checkbox"><label><input type="checkbox" name="voice" ng-model="edit.fileType" ng-value="voice"><span>Sprachmemo</span></label></div> -->
						</div>
						<div class="col-md-8">
							<div class="post-upload" ngf-select="edit.upload($file)" ng-model="vm.file">
								<span ngf-drop="edit.upload($file)">Drag and Drop Files</span>
								<i class="fa fa-upload"></i>
							</div>
							<md-progress-linear  ng-show="edit.uploadStatus"></md-progress-linear>
						</div>

					</div>
					<div class="col-md-12 text-center" style="margin-bottom:20px">

					</div>

					<div class="col-md-12 btn-holder"><button type="submit"  class="btn btn-green">Submit</button></div>

				</form>
			</div>
		</div>
	</div>
</section>
